h2 = t".title"

.errors
  = render "shared/error_messages", model: @weight

/.nav.justify-content-end 
/= link_to t("children.links.to_children"), url: children_path, class: "nav-link"

= render "weights/form"