h2 = t".title"

.errors
  = render "shared/error_messages", model: @weight

/.nav.justify-content-end 
/  = link_to t("children.links.to_children"), children_path, class: "nav-link"

/ ネストしたモデルでは、引数を配列として渡す
= render "weights/form"