= t".title"

/= link_to t("children.links.to_new_child"), new_child_path, class: "btn btn-primary"

h2 = "Children"
- @children.each do |child|
  li = child.name 

h2 = "Heights"
- @heights.each do |height|
  li = height.height 
        