h1
  | Homes#top
p
  | Find me in app/views/homes/top.html.erb
= link_to "logout", admin_logout_path, data: { turbo_method: :delete }
= link_to "signup", admin_signup_path
= link_to "login", admin_login_path
