h1
  | Homes#top
= link_to "ゲストログイン(閲覧用)", guest_login_path, data: { turbo_method: :post }
= link_to "logout", admins_logout_path, data: { turbo_method: :delete }
= link_to "signup", admins_signup_path
= link_to "login", admins_login_path
