h2 = t".title"

= link_to t(".links.guest_login"), guest_login_path, data: { turbo_method: :post }
= link_to t(".links.logout"),      logout_path, data: { turbo_method: :delete }
= link_to t(".links.signup"),      signup_path
= link_to t(".links.login"),       login_path
