h2 = t".title"

.errors
  = render "shared/error_messages", model: @left_breast_milk

/.nav.justify-content-end 
/= link_to t("children.links.to_children"), url: children_path, class: "nav-link"

= render "left_breast_milks/form"